.background-light{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}
.second-section img{
    margin-left: auto;
    margin-right: auto;
}
.fas{
    color: #00c955;
    padding-right: 2%;
}
.ticks h5{
    padding-top: 3%;
}
